body {
  background-color: #434343;
}

// LAYOUT
.container {
  width: 90%;
  margin: 0 auto;
}

// LISTS
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
