// ------------------
//      DISPLAY
// ------------------

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

// ------------------
//      JUSTIFY
// ------------------

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

// ------------------
//       ALIGN
// ------------------

.align-center {
  align-items: center;
}

// ------------------
//       WRAP
// ------------------

.wrap {
  flex-wrap: wrap;
}

// ------------------
//        GAP
// ------------------

.g-15 {
  gap: 15px;
}

// ------------------
//       MARGIN
// ------------------

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}
